body {
  background-color: #e6e6e6;
}

.moviesContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.gridHeader {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
}
