.moviesContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

/* create class for movieEntry with padding and margin */
.movieEntry {
  padding: 10px;
  margin: 10px;
  grid-column: 2;
}

.notificationContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  bottom: 0;
  right: 30px;
  max-height: 100vh;
}
